@import "bootstrap";
@import "font-awesome";

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6, {
  margin: 0;
  padding: 0;
}

body {
  background: image_url('so-white.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.navbar {
  background: image_url('dark-honeycomb.png');
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  color: #499EB8;
  font-family: 'josefin_sanssemibold', sans-serif;
  font-size: 26px;
}

.pagination {
  background: white;
  cursor: default;
  height: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
  a, span, em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 2px;
  }
  .disabled {
    display: none;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background: #499EB8;
    color: white;
    border: 1px solid #499EB8;
  }
  a {
    text-decoration: none;
    color: #499EB8;
    border: 1px solid #499EB8;
    &:hover, &:focus {
      color: #000033;
      border-color: #000033;
    }
  }
  .page_info {
    background: #2e6ab1;
    color: white;
    padding: 10px;
    width: 22em;
    margin-bottom: 10px;
    text-align: center;
    b {
      color: #000033;
      background: #2e6ab1 + 60;
      padding: 10px;
    }
  }
}